[submodule ".config/zsh/.antidote"]
	path = .config/zsh/.antidote
	url = https://github.com/mattmc3/antidote.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/nin93/.neovim.git
